<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/interface.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="call()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'users:home'%}" class="w3-bar-item w3-button w3-padding-large">MeetByChance</a>
    <a href="{% url 'users:post_plan' user.id %}" class="w3-bar-item w3-button w3-padding-large">Post Plan</a>
    <a href="{% url 'users:plan_list' user.id %}" class="w3-bar-item w3-button w3-padding-large">My Plan</a>
    <a href="{% url 'users:matched_list' user.id %}" class="w3-bar-item w3-button w3-padding-large">My Match <!--span class="w3-badge w3-red">1</span--> </a>
      <a href="{% url 'users:search' %}" class="w3-bar-item w3-button w3-padding-large">Search</a>
      <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="Setting">What is Hot <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'users:topone' user.id%}" class="w3-bar-item w3-button">Hot By Budget</a>
        <a href="{% url 'users:map' %}" class="w3-bar-item w3-button">Heat Map</a>
        <a href="{% url 'users:chart' user.id%}" class="w3-bar-item w3-button">Chart By City</a>
      </div>
    </div>
      <a href="{% url 'users:logout'%}" class="w3-bar-item w3-button w3-padding-large w3-right">LogOut</a>
      <div class="w3-dropdown-hover w3-hide-small w3-right">
      <button class="w3-padding-large w3-button" title="Setting">Account <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'users:profile' user.id%}" class="w3-bar-item w3-button">My Profile</a>
        <a href="{% url 'users:pwd_change' user.id%}" class="w3-bar-item w3-button">Change Password</a>
      </div>
    </div>


  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="{% url 'users:home' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{% url 'users:post_plan' user.id %}">Post Plan</a>
    <a href="{% url 'users:plan_list' user.id %}">My Plan</a>
    <a href="{% url 'users:matched_list' user.id %}">My Match</a>
    <a href="{% url 'users:search' %}">Search</a>
    <a href="{% url 'users:topone' user.id%}">What is Hot</a>
    <a href="{% url 'users:logout'%}">LogOut</a>
    <a href="{% url 'users:profile' user.id%}">Profile</a>
</div>

   {% block content %}{% endblock %}
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by Group37 CS411SP2019</a></p>
</footer>

</body>
</html>